<div class="grid-wrapper" th:fragment="announcementsGrid">
    <div class="grid">
        <div class="card">
            <h3>Annuncio 1</h3>
            <div class="card-content">
                <p class="price">
                    <span class="price price--number">
                        <span class="price price--dolar">$</span>
                        10
                    </span>
                </p>
                <span class="description">sono la descrizione dell'annuncio 1.</span>
            </div>
        </div>
        <div class="card">
            <h3>Annuncio 2</h3>
            <div class="card-content">
                <p class="price">
                    <span class="price price--number">
                        <span class="price price--dolar">$</span>
                        10
                    </span>
                </p>
                <span class="description">sono la descrizione dell'annuncio 2.</span>
            </div>
        </div>
        <div class="card">
            <h3>Annuncio 3</h3>
            <div class="card-content">
                <p class="price">
                    <span class="price price--number">
                        <span class="price price--dolar">$</span>
                        10
                    </span>
                </p>
                <span class="description">sono la descrizione dell'annuncio 3.</span>
            </div>
        </div>
    </div>
</div>