<footer th:fragment="footerFragment" class="main-footer">
    <div class="footer-container">

        <div class="footer-col">
            <h3>MinervHub</h3> <p>La piattaforma di scambio competenze che rivoluziona il modo di studiare. Impara, insegna, cresci.</p>
            <div class="social-links">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>

        <div class="footer-col">
            <h4>Esplora</h4>
            <ul>
                <li><a th:href="@{/annunci}">Cerca Tutor</a></li>
                <li><a th:href="@{/come-funziona}">Come funziona</a></li>
                <li><a th:href="@{/chi-siamo}">Chi siamo</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h4>Supporto</h4>
            <ul>
                <li><a href="#">Contattaci</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Termini e Condizioni</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 MinervHub. Tutti i diritti riservati.</p>
    </div>
</footer>