<section class="announcements-list" th:fragment="listaAnnunci(sezione)">
    <div class="announcements-list__grid">
        <a th:if="${sezione == 'miei'}" class="announcement-add" th:href="@{/annuncio/creaAnnuncio}">
            <i class="fa-solid fa-plus"></i>
        </a>
        <article class="announcement-card" th:each="annuncio : ${annunci}">
            <div class="announcement-top">
                <div class="announcement-card__header">
                    <div class="announcement-card__author">
                        <i class="fa-solid fa-user"></i>
                        <span class="announcement-card__name" th:text="${annuncio.autore.nome}"></span>
                    </div>
                </div>

                <div class="announcement-card__body">
                    <h3 class="announcement-card__title" th:text="${annuncio.titolo}"></h3>
                    <p class="announcement-card__description" th:text="${annuncio.descrizione}"></p>
                </div>
            </div>

            <div class="announcement-card__footer">
                <div class="announcement-card__price">
                    <span class="announcement-card__amount" th:text="${annuncio.tariffaOraria}"></span>
                    <span class="announcement-card__unit">€/h</span>
                </div>

                <a class="announcement-card__button announcement-card__button--primary"
                   th:href="@{${sezione == 'bacheca' ? '/bacheca' : '/annuncio'} + '/' + ${annuncio.id}}"
                   th:text="'Più dettagli'">
                    Più dettagli
                </a>
            </div>
        </article>
    </div>
</section>