<header th:fragment="navFragment" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- Logo -->
    <a th:href="@{/home}" class="header__logo">
        <span class="header__logo-text">MinervHub</span>
    </a>

    <!-- Navigation -->
    <div class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a th:href="@{/bacheca}" class="header__nav-link">Bacheca</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/annunci/miei}" class="header__nav-link">I miei annunci</a>
            </li>
            <li class="header__nav-item">
                <a th:href="@{/richieste/inviate}" class="header__nav-link">Le mie richieste</a>
            </li>
        </ul>
    </div>

    <!-- User Actions -->
    <div class="header__actions">
        <!-- Not Authenticated -->
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="header__login">
            Login
        </a>

        <!-- Authenticated -->
        <div sec:authorize="isAuthenticated()" class="header__user">
            <span>
                Ciao, <span sec:authentication="name">Utente</span>
            </span>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="header__logout">Esci</button>
            </form>
        </div>
    </div>
</header>