<header th:fragment="navFragment" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
    <div class="left-section">
        <a th:href="@{/home}">
            <img th:src="@{/images/logo.png}" alt="Logo">
            <h1 class="logo">MinervHub</h1>
        </a>
    </div>

    <ul class="nav-links">
        <li class="user fancy-border">Bacheca</li>
        <li class="class fancy-border">Dare lezioni</li>
    </ul>

    <div class="right-section">
        <div sec:authorize="!isAuthenticated()">
            <a class="user fancy-border" th:href="@{/login}">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>

        <div class="loggato" sec:authorize="isAuthenticated()">
            <a class="user fancy-border">
                <i class="fa-solid fa-user"></i>
            </a>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="user fancy-border esc"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
            </form>
        </div>
    </div>
</header>