main {
    height: 100vh;
}

.announcements-list {
    display: flex;
    justify-content: center;
    padding: 50px 5%;
}

.announcements-list__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    width: 100%
}

.announcement-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 8px dashed var(--clr-primary);
    cursor: pointer;
    height: 250px;
}

.announcement-add i {
    font-size: 50px;
    color: var(--clr-primary);
}

.announcement-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    height: 250px;
}

.announcement-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;
}

.announcement-card__author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.announcement-card__author i {
    font-size: 25px;
    border-radius: 100%;
    background: #e0e0e0;
    padding: 10px 12px;
    color: #ffffff;
}

.announcement-card__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.announcement-card__title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement-card__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcement-card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement-card__amount {
    font-size: 28px;
    font-weight: 600;
}

.announcement-card__button {
    border: none;
    background: var(--clr-primary);
    color: white;
    border-radius: 20px;
    padding: 10px 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.announcement-card__button:hover {
    background: var(--clr-primary-hover);
}

.announcement-card__button i {
    font-size: 17px;
}