.page-title {
    display: flex;
    justify-content: center;
}

.announcement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.btn-create-annuncio {
    display: flex;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    background: var(--clr-primary);
}