@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --clr-primary: #156082;
    --clr-primary-hover: #104a65;
    --clr-primary-light: #d1e0e7;

    --clr-white: #ffffff;
    --clr-bg: #f4f7f9;
    --clr-text: #28282B;
    --clr-text-muted: #6c757d;
    --clr-border: #dee2e6;

    --clr-danger: #dc3545;
    --clr-success: #28a745;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--clr-text);
}

a {
    color: inherit;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.nav__brand {
    justify-self: start;
}

.nav__logo {
    font-weight: 700;
    font-size: 1.375rem;
    color: var(--clr-primary);
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav__menu-link {
    transition: all 0.3s ease;
}

.nav__menu-link:hover {
    color: var(--clr-primary);
}

.nav__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__toolbar-auth {
    display: flex;
    gap: 20px;
}

.nav__toolbar-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__toolbar-button {
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--clr-white);
    background-color: var(--clr-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav__toolbar-button:hover {
    background-color: var(--clr-primary-hover);
}

.nav__toolbar-button--logout {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    border: none;
}