<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bacheca | MinervHub</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Navbar -->
<header th:replace="fragments/navbar :: navFragment"></header>

<form action="#" method="get" style="margin-bottom: 30px; text-align:center;">
  <input type="text" name="corsoLaurea" placeholder="Corso di laurea" th:value="${param.corsoLaurea}">
  <input type="text" name="esame" placeholder="Esame" th:value="${param.esame}">
  <input type="number" name="tariffaMax" placeholder="Tariffa massima" th:value="${param.tariffaMax}">
  <button type="submit" class="fancy-border">Filtra</button>
</form>

<div th:replace="~{fragments/announcementsGrid :: announcementsGrid(mostraBottone=false, isPersonal=false)}"></div>

<div th:replace="~{fragments/footer :: footerFragment}"></div>

</body>
</html>
