<!doctype html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLMDJ87D2R4QzYpSL6/xL2Lp8tU8u7F4oW1F7B4uU4lQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div th:replace="~{fragments/navbar :: navFragment}"></div>
</body>
</html>