<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <title>Login</title>
</head>
<body>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4">Accedi</div>
                    <div class="card-body">

                        <div th:if="${param.error}" class="alert alert-danger">
                            Email o password errati.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            Logout effettuato con successo.
                        </div>
                        <div th:if="${param.success}" class="alert alert-success">
                            Registrazione completata! Ora puoi accedere.
                        </div>

                        <form th:action="@{/login}" method="post">

                            <div class="mb-3">
                                <label>Email</label>
                                <input type="email" name="username" class="form-control" required autofocus placeholder="inserisci la mail">
                            </div>

                            <div class="mb-3">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" required placeholder="inserisci la password">
                            </div>

                            <button type="submit" class="btn btn-primary col-md-12">Login</button>
                        </form>
                    </div>

                    <div class="card-footer text-center">
                        <small>Non hai un account? <a th:href="@{/register}">Registrati qui</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>