<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I Miei Annunci | MinervHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/mieiAnnunci.css}">
    <link rel="stylesheet" th:href="@{/css/annunci.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navFragment}"></header>

<div class="announcement-grid-wrapper" th:replace="~{fragments/listaAnnunci}"></div>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>