<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>I Miei Annunci | MinervHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/mieiAnnunci.css}">
    <link rel="stylesheet" th:href="@{/css/annunci.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<main>
<header th:replace="~{fragments/navbar :: navFragment}"></header>

    <div th:if="${successMessage}" class="container mt-3">
        <div class="alert alert-success alert-dismissible fade show shadow-sm" role="alert"
             style="border-radius: 15px; border: none; background-color: #d1e7dd; color: #0f5132; padding: 10px; display: flex; justify-content: center; align-items: center; gap: 15px">
            <i class="fas fa-check-circle me-2"></i>
            <span th:text="${successMessage}">Messaggio di successo</span>
        </div>
    </div>

<h1 class="page-title">Gestione Annunci</h1>

<div class="announcement-grid-wrapper" th:replace="~{fragments/listaAnnunci :: listaAnnunci('miei')}"></div>
</main>

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>